<style>
    #nav > ul > li:nth-child(5) > a {
        color: #37C0FB;
    }
</style>


<h2>About:</h2>

<!-- Co-op Placements -->
<div class="row 200%">
	<section class="12u">
		<div class="box">
			<h3>Graduation Date: May, 2016</h3>
			<h3>Co-op Placements:</h3>
		</div>
	</section>
	<section class="4u 12u(narrower)">
		<div class="box highlight">
			<span class="icon major">1</span>
			<h3>EMC<sup>2</sup> Corporation</h3>
			<p>SYMMETRIX Systems Integration Co-op</p>
		</div>
	</section>
	<section class="4u 12u(narrower)">
		<div class="box highlight">
			<span class="icon major">2</span>
			<h3>MITRE Corporation</h3>
			<p>Java Web Applications Developer Co-op</p>
		</div>
	</section>
	<section class="4u 12u(narrower)">
		<div class="box highlight">
			<span class="icon major">3</span>
			<h3>MITRE Corporation</h3>
			<p>Java Web Applications Developer Co-op</p>
		</div>
	</section>
</div>

<h3>Interesting facts about me:</h3>
<p>At the age of two I had already mastered the concept of using a computer mouse. My first desktop computer ran Windows 95. In my lifetime so far, I have had 3 desktop computers and 5 laptops. Needless to say, I am constantly updating to the latest and greatest technology. At the age of twelve, I built my first desktop computer. It had an Intel Core 2 Duo E6300 processor. The stock speed of 1.86GHz however did not seem fast enough to me. After many trials, I finally decided on a very stable overclock at 3.01GHz. With that said, I like to push the boundaries of technology and think outside of the “clock.”</p>

<h3>Things I am interested in:</h3>
<p>Some things that I am interested in include building computers, overclocking, gaming, programming, digital forensics, computer security, networking, remote controlled cars and helicopters, photography and cars.</p>

<h3>Current Desktop Specs:</h3>
<table class="pcspecs">
    <tbody>
    <tr>
        <td>Intel Core i7-2600K</td>
        <td>4200 MHz</td>
    </tr>
    <tr>
        <td>Gigabyte GTX 560Ti Super Overclock Series</td>
        <td>950 MHz</td>
    </tr>
    <tr>
        <td>Corsair Vengeance DDR3-1600 8GB RAM</td>
        <td>1866 MHz</td>
    </tr>
    <tr>
        <td>Samsung 840 PRO Series 256GB SATA III SSD</td>
    </tr>
    <tr>
        <td>Patriot Torqx2 32GB SATA II SSD</td>
    </tr>
    <tr>
        <td>Western Digital Caviar Black 750GB SATA III HDD</td>
    </tr>
    <tr>
        <td>Western Digital Caviar Black 1TB SATA III HDD</td>
    </tr>
    <tr>
        <td>Seagate Barracuda 2TB SATA III HDD</td>
    </tr>
    <tr>
        <td>LG Super Multi Blue Blu-Ray Drive</td>
    </tr>
    <tr>
        <td>Samsung 27" 1080p HD Monitor (Primary)</td>
    </tr>
    <tr>
        <td>Acer 24" 1080p HD Monitor (Secondary)</td>
    </tr>
    </tbody>
</table>