<style>
    #nav > ul > li:nth-child(2) > a {
        color: #37C0FB;
    }
</style>

<!--<div id="resume">-->
<!--    <div class="row">-->
<!--    	<div class="6u 12u(mobilep)">-->
<!--    		<p>-->
<!--    		    <h2>Michael Rodrigues</h2>-->
<!--    		    <p>9 Millers Brook Drive</p>-->
<!--    		    <p>Cumberland, RI</p>-->
<!--    		</p>-->
<!--    	</div>-->
<!--    	<div class="6u 12u(mobilep)">-->
<!--    		<p>-->
<!--    		    <h4><a href="http://ccs.neu.edu/home/mrodrig">ccs.neu.edu/home/mrodrig</a></h4>-->
<!--    		    <p>401.365.7575</p>-->
<!--    		    <p><a href="mailto:rodrigues.mi@husky.neu.edu">rodrigues.mi@husky.neu.edu</a></p>-->
<!--    		</p>-->
<!--    	</div>-->
<!--    </div>-->
<!--    <div class="row center">-->
<!--        <div class="8u 12u(mobilep)">-->
<!--            Graduation Date: May, 2016    -->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<h2>R&#233;sum&#233;:</h2>
<h3>Certificates:</h3>
<ul>
	<li ng-repeat="certificate in certificates">
		<a target="_blank" ng-href="{{certificate.attachment}}">
            <span>{{certificate.name}}</span>
		</a>
		<br>
        <em>{{certificate.description}}</em>
	</li>
</ul>
<h3>R&#233;sum&#233; (PDF):</h3>
<p>
    <a href="attachments/resume.pdf" target="_blank">Download Link</a>
</p>

<!--<span>R&#233;sum&#233; Preview (requires Adobe Acrobat or equivalent Web PDF viewer):</span>-->
<!--<iframe width="900px" height="1115px" src="attachments/resume.pdf"></iframe>-->