rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if isLoggedIn();
      allow write: if false;
    }
    
    function isLoggedIn() {
    	return request.auth != null;
    }
  }
}